body{
  padding: 5px;
  color:#726ea9;
}
.movieLists{
  display: none;
}
.movieListStyle{
  border: 1px solid green;
  padding: 5px;
  font-size: 1.4em;
}
.navPage, .totalResult, .titleInfo, .errorType{
  display: none;
}
.title{
  width: 40%;
}
.year{
  width: 20%;
}
.inputData{
  position: relative;
  border: 1px solid #825E5E;
  background-color: #eee;
  padding: 5px;
  border-radius: 3px;
  margin:5px;
  display: block;
  text-align: left;
}
.thumbnail{
  width: 80%
}
.info{
  color: green;

}
.info span{
  color: blue;
  font-size: 1.5em;
}
